.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.spinnerIcon {
	width: 1em;
	height: 1em;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		stroke-dashoffset: 32;
	}
	50% {
		stroke-dashoffset: 0;
	}
	100% {
		transform: rotate(360deg);
		stroke-dashoffset: -32;
	}
}
